<div class="container">


    <div class="players-container">
        <div *ngFor="let player of players" class="player">
            <img [src]="player.imageSrc" [alt]="player.name">
            <div class="info">
                <h2 class="header">{{player.name}}</h2>
                <div class="meta">
                    <span>{{player.rightHanded ? 'right handed' : 'left handed'}}</span>
                    <span *ngFor="let style of player.bowlingStyles">{{style}}</span>
                </div>
            </div>
            <div class="actions">
                <button mat-button [matMenuTriggerFor]="menu" class="material-icons">more_vert</button>

                <mat-menu xPosition="before" yPosition="above" #menu="matMenu">
                    <div *ngFor="let position of positions"
                            class="positions"
                            (click)="assignPlayer(player, position)">
                        <img [src]="position.imageSrc" [alt]="position.name">
                        <span class="info">{{position.name}}</span>
                    </div>
                </mat-menu>
            </div>
        </div>

    </div>

    <div class="field">
        <hr>
        <h1>Field positioning</h1>

        <app-field #fieldComponent></app-field>
    </div>
</div>

<ng-template #popTemplate>

</ng-template>
