<div class="d-flex w-100 justify-content-center">

    <div class="field-area">
      <img class="field" src="assets/images/field.png">

      <img class="player" src="assets/images/keeper.png" cdkDragBoundary=".field-area" cdkDrag>
      <img class="player" src="assets/images/batsman1.png" cdkDragBoundary=".field-area" cdkDrag>
      <img class="player" src="assets/images/batsman2.png" cdkDragBoundary=".field-area" cdkDrag>
      <img class="player" src="assets/images/bowler.png" cdkDragBoundary=".field-area" cdkDrag>
      <img class="player" src="assets/images/cover.png" cdkDragBoundary=".field-area" cdkDrag>
      <img class="player" src="assets/images/legside.png" cdkDragBoundary=".field-area" cdkDrag>
      <img class="player" src="assets/images/point.png" cdkDragBoundary=".field-area" cdkDrag>
      <img class="player" src="assets/images/receiver.png" cdkDragBoundary=".field-area" cdkDrag>
    </div>
</div>
