/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.field {
  &-area {
    position: absolute;

    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;

    .field {
      position: relative;

      max-width: 100vw;
      max-height: 100vh;
    }

    .player {
      position: absolute;
      top: 0;
      left: 0;
      height: 100px;
    }
  }


}

