body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    color: #8B92A9;
    font-weight: 200!important;
}

.muted {
    color: #6C757D;
}

.upper {
    text-transform: uppercase;
}

.light {
    font-weight: 200;
}
