<div class="field-layout">

    <div class="field-area" id="field-area">
        <img #field id="field" class="field" src="assets/images/field.svg" alt="field" (load)="fieldLoaded($event)">

        <div class="actions">
            <button  *ngFor="let action of actions"
                     class="btn btn-light action"
                     (click)="action.callback($event)">
                <span class="material-icons">{{action.icon}}</span>
            </button>
        </div>

        <div *ngFor="let prop of props; let index = index" class="player"
             cdkDragBoundary=".field-area"
             [cdkDragDisabled]="!prop.draggable"
             cdkDrag
             (cdkDragMoved)="draggingPlayer($event, prop)"
             [class.noDrag]="!prop.draggable"
             [style.left.px]="prop.x"
             [style.top.px]="prop.y">
            <img class="assigned-player" *ngIf="prop['assigned']"
                 #player
                 [width]="prop['assignWidth']"
                 [height]="prop['assignHeight']"
                 (dblclick)="unassign(prop)"
                 [style.left]="assignedToLeft(prop)"
                 [style.top]="assignedToTop(prop)"
                 [src]="prop['assignedSrc']">
            <img class="svg"
                 [height]="prop.actualHeight"
                 [id]="'prop_' + index"
                 [src]="prop.source"
                 (click)="playerClicked($event)"
                 (load)="playerLoaded($event, prop)">
        </div>
    </div>
</div>
